/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0 auto;
	padding: 0;
	
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
}

html{
    font-size:62.5%;
}

body{
    font-size:1.6rem;
    line-height:1.5;
    color:#4f4f4f;
}

h1{
    font-family: 'Chelsea Market', cursive;
    
}

header nav{
    margin: 0 auto;
  width:49%;
}

header nav a{
    font-family: 'Roboto Mono', monospace;
    text-decoration:none;
    margin: 0 auto;
  width:15%;
  background-color:#F87B99;
  display: inline-block;
  border-radius: 20px;
  color:#fff;
  border: 1px solid lightgray;
  padding: 1% 0;
  border-radius:10px;
}

header nav a:nth-child(1){
    background-color:#FF764E;
}
header nav a:nth-child(2){
    background-color:#5ED3EB;
}

header nav a:nth-child(3){
    background-color:#FFCD69;
}

span{
    font-weight:bold;
}

section{
    padding:4% 0;
}


nav a{
    display:inline-block;
    padding:1% 0;
    width:10%;
    
    text-align:center;
    
}

.orange{
    background-color:#FF764E;
    margin-left:10%;
}
/*TODO:: ADD OTHER COLOR CLASSES HERE!!!*/

/*BELOW WE HAD TO HACK AROUND THE FACT WE CANNOT USE FLEXBOX
TODAY WHICH KIND OF SUCKS
BASICALLY HAD TO POSITION THESE ELEMENTS RELATIVE OR ABSOLUTE
DEPENDING ON HOW YOU WANT TO DISPLAY IN THIS CASE TEXT*/

.titles{
    text-align:center;
    position:relative;

}
.left, .right{
    display:inline-block;

}
.left{
    width:30%;
    margin-left:5%;
}

.right{
    width:55%;
    position:relative;
}
.right div{
    position:absolute;
    top:43%;
}
.left img{
    border-radius:50%;
    width:60%;
}